.footer {
  background: #000000;
}

.footer-container {
  max-width: 120rem;
  padding: 12rem 2rem 6rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-items: center;
}

.footer-texto {
  font-size: 2.4rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 3rem;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.8rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer-contato li {
    font-size: 2.4rem;
  }
}