.footer {
  background: #141414;
}

.footer-container {
  max-width: 120rem;
  padding: 8rem 2rem 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem 10rem;
  align-items: center;
}

.footer-texto {
  font-size: 2.4rem;
  line-height: 1.33;
  color: #cccccc;
  margin: 3rem;
}

.footer-contato {
  justify-self: end;
}

.footer-contato li {
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 1.33;
  color: #ffffff;
  margin: 3rem;
  padding: 0.5rem;
  position: relative;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
}

.email::before {
  content: url("../img/email.svg");
  position: absolute;
  left: -50px;
  top: 10px;
}

.whatsapp::before {
  content: url("../img/whatsapp.svg");
  position: absolute;
  left: -53px;
  top: 7px;
}

.instagram::before {
  content: url("../img/instagram.svg");
  position: absolute;
  left: -52px;
  top: 12px;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.8rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 1000px) {
  .footer-container {
    gap: 4rem;
  }

  .footer-contato {
    padding-left: 2rem;
  }

  .footer-contato li {
    font-size: 3.2rem;
  }
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer-contato {
    padding-left: 5rem;
    justify-self: start;
  }

  .footer-contato li {
    font-size: 3.2rem;
  }
}
