.header {
  background: #141414;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.logo {
  font-size: 2.18rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
}

.nav-lista {
  display: flex;
  gap: 30px;
}

.nav-lista a {
  font-size: 1.125rem;
  line-height: 2;
  color: #a3a3a3;
  padding: 16px 0;
  text-decoration: none;
}

.hamburger {
   
}

/* configuração da header do site
.header {
  background: #141414;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #a3a3a3;
}

.header-conteudo {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a {
  font-size: 2.18rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  display: block;
  font-size: 1.125rem;
  line-height: 2;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #a3a3a3;
  position: relative;
}

.header-menu a:hover {
  background: #000;
  color: #ffffff;
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
  }

  .header-conteudo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .header-menu {
    flex-direction: row;
    gap: 10px;
  }

  .header-menu a {
    background: #f5f5f527;
    border-radius: 4px;
    padding: 10px 10px;
  }
} */