/* configuração da seção main em duas colunas */
.introducao {
  max-width: 120rem;
  padding: 10rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  align-items: center;
}

/* configuração da tag span acima do nome */
.introducao span {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0.45rem;
}

/* configuração da tag H1 e da imagem decorativa */
.introducao h1 {
  position: relative;
  font-size: 8rem;
}

.introducao h1::before {
  content: '';
  display: block;
  width: 13rem;
  height: 13rem;
  background: url(../img/leaf.svg) no-repeat center;
  position: absolute;
  top: -3rem;
  left: -7.5rem;
  z-index: -1;
}

/* configuração da tag H2 */
.introducao h2 {
  position: relative;
  font-size: 5rem;
  padding-left: 0.3rem;
}

/* configuração da responsividade da introdução para diversos breakpoints */
@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr 1.66fr;
  }

  .introducao span {
    font-size: 1.66rem;
  }

  .introducao h1 {
    font-size: 6.6rem;
  }

  .introducao h1::before {
    background: url(../img/leaf-1.svg) no-repeat center;
    top: -3.5rem;
    left: -7rem;
  }

  .introducao h2 {
    font-size: 4.15rem;
  }
}

@media (max-width: 900px) {
  .introducao span {
    font-size: 1.5rem;
  }

  .introducao h1 {
    font-size: 5.95rem;
  }

  .introducao h2 {
    font-size: 3.735rem;
  }

  .introducao h1::before {
    background: url(../img/leaf-2.svg) no-repeat center;
    top: -4rem;
    left: -7rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .introducao span {
    font-size: 1.33rem;
  }

  .introducao h1 {
    font-size: 5.28rem;
  }

  .introducao h2 {
    font-size: 3.32rem;
  }

  .introducao h1::before {
    background: url(../img/leaf-3.svg) no-repeat center;
    top: -4rem;
    left: -7rem;
  }
}

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
    margin-left: 6rem;
  }

  .introducao img {
    display: none;
  }
}